body{

   font-family: sans-serif;
   background-color: #cfb274;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;

}

.form{

	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 8px 50px rgb(0 0 0 / 0.2);

}


.survey-form{

	display: flex;
	flex-direction: column;


}

h1{
	margin-bottom: 5px;
	font-size: 24px;
	color: #333;
}

label {
	margin-bottom: 5px;
	color:  #333;
}

input[type="text"],
input[type="email"],
input[type="text"],
textarea, select{

padding: 10px;
margin-bottom: 10px;
border-radius: 5px;

}

.radio-group{

	margin-bottom: 10px;
}


button[type="submit"]
{
 
 padding: 10px;
 background-color: #cfb274 ;
 color: white;
 border: 0;
 cursor: pointer;
 font-size: 15px;

}

#btn:hover{

	background-color: orange;

}

